<IfModule mod_headers.c>
  <FilesMatch "\.(js|mjs)$">
    Header set Content-Type "application/javascript"
  </FilesMatch>
  <FilesMatch "\.css$">
    Header set Content-Type "text/css"
  </FilesMatch>
  <FilesMatch "\.json$">
    Header set Content-Type "application/json"
  </FilesMatch>
  <FilesMatch "\.svg$">
    Header set Content-Type "image/svg+xml"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
